@model Proyecto_Medicos.Models.Citas

@{
    ViewData["Title"] = "CreateCita";
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inicio De Sesion</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/style - Copia.css" />
</head>



<div class="row">
        <center>
            <h1>Programa tu Cita</h1>
        </center>
        <div class="container">
            <div class="mx-auto" style="width: 500px;">
                <form asp-action="CreateCita">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                    <label asp-for="nomPac" class="control-label"></label>
                    <input asp-for="nomPac" placeholder="Ingresa los datos del paciente" class="form-control" />
                    <span asp-validation-for="nomPac"  class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="codMed" class="control-label"></label>
                        @Html.DropDownList("codMed", ViewBag.Medicos as SelectList,
                        "Seleccione", new { @class = "form-select"} )
                        <span asp-validation-for="codMed" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="codEsp" class="control-label"></label>
                        @Html.DropDownList("codEsp", ViewBag.Especialidad as SelectList,
                        "Seleccione", new { @class = "form-select"} )
                        <span asp-validation-for="codEsp" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="codTurno" class="control-label"></label>
                        @Html.DropDownList("codTurno", ViewBag.Turno as SelectList,
                        "Seleccione", new { @class = "form-select"} )
                        <span asp-validation-for="codTurno" class="text-danger"></span>

                    </div>

                    <div class="form-group">
                        <label asp-for="fecha" class="control-label"></label>
                    <input asp-for="fecha" placeholder="Ingresa una fecha yyyy/mm/dd" class="form-control" />
                        <span asp-validation-for="fecha"  class="text-danger"></span>
                    </div>


                <div style="margin-top: 20px; display: flex; justify-content: center; align-items: center;">
                    <button type="submit" value="Registrar" class="btn btn-primary me-3">
                        Programar Cita
                    </button>
                    <a asp-action="Medicos" class="btn btn-primary">
                        Cancelar Cita
                    </a>
                </div>

                        <div class="mb-3">
                    @if (ViewBag.MENSAJE != null)
                            {
                                <div class="alert alert-success" role="alert">
                                    @ViewBag.MENSAJE
                                </div>
                            }
                        </div>
                </form>
            </div>
        </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    window.watsonAssistantChatOptions = {
        integrationID: "dd6b4f9e-9acb-4b00-8f37-4dd0af5535b2", // The ID of this integration.
        region: "us-south", // The region your integration is hosted in.
        serviceInstanceID: "b03a65a3-623f-4005-ad71-f308fb6ff9d9", // The ID of your service instance.
        onLoad: function (instance) { instance.render(); }
    };
    setTimeout(function () {
        const t = document.createElement('script');
        t.src = "https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
        document.head.appendChild(t);
    });
</script>