@{
    ViewData["Title"] = "Home Page";
}
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inicio De Sesion</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>


<div class="text-center">
    
</div>
